.card__container {
  position: relative; /* usado para que os outros elementos fiquem a frente - sobrepostos */
  border: 3px solid #3E4357;
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  overflow: hidden;
  margin-top: 10px;
}

.card__img {
  min-width: 100%;
  min-height: 100%;

  /* utilizada para tempo de efeito de transform */
  transition: transform 0.8s;
}

.card__img:hover {
  transform: scale(1.1); /* aumenta a escala da imagem com o mouse sobreposto - hover */
}
