<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gameType="PS4 | XPTO"
    gamePrice="R$ 199,00"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Digital"
    gameType="PS4 | XPTO"
    gamePrice="R$ 299,00"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="R$ 399,00"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="Exclusive"
    gameType="PS4"
    gamePrice="R$ 499,00"
  ></app-card>
</div>
